html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    font-family: Verdana, Arial, sans-serif;
    background: rgba(195, 177, 225, 0.7)
}

.card {
    width: 850px;
    margin: 100px auto;
    border: 5px solid mediumpurple;
    background: white;
    padding: 15px;
}

.title {
    font-family: Georgia, "Times New Roman", serif;
    background: mediumpurple;
    color: white;
    text-align: center;
    margin: -15px -15px 15px;
    padding: 40px;
}

.recipe-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.lasagna-link {
    background-color: rgb(186, 225, 255);
}

.quiche-link {
    background-color: #baffc9;
}

.soup-link {
    background-color: hsl(60, 100%, 86%);
    text-decoration: none;
}




.font-size {
    font-size: 13px;
}

.font-weight {
    font-weight: bold;
}

.text-align {
    text-align: center;
}

.image {
    height: 450px;
    width: auto;
}