html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    font-family: Verdana, Arial, sans-serif;
    background: rgba(166, 137, 225, 0.7)
}

.card {
    width: 850px;
    margin: 100px auto;
    border: 5px solid mediumpurple;
    background: white;
    padding: 20px 20px 40px;
}

.title {
    font-family: Georgia, "Times New Roman", serif;
    background: mediumpurple;
    color: white;
    text-align: center;
    margin: -20px -20px 40px;
    padding: 40px;
}

.recipe-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.recipe {
    text-align: center;
    margin: 20px 0px;
}

.recipe-list li:last-child {
    margin: 0px;
}

.recipe-link {
    text-decoration: none;
    color: white;
    background: #A689E1;
    font-size: 18px;
    display: block;
    padding: 25px;
}




.font-size {
    font-size: 13px;
}

.font-weight {
    font-weight: bold;
}

.text-align {
    text-align: center;
}

.image {
    height: 450px;
    width: auto;
}